# Natural Language Processing with Disaster Tweets
## Predict which Tweets are about real disasters and which ones are not

#### by Abhiram Rishi Prattipati

In [1]:
# Necessary libraries and tools

import re

import numpy as np 
import pandas as pd 

from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
import xgboost
from sklearn.model_selection import RandomizedSearchCV

In [2]:
train_dataframe = pd.read_csv("nlp_data/train.csv")
test_dataframe = pd.read_csv("nlp_data/test.csv")

In [3]:
train_dataframe.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test_dataframe.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
tweettoken = TweetTokenizer(strip_handles=True, reduce_len=True)
lemmatizer=WordNetLemmatizer()
stemmer=PorterStemmer()

In [9]:
# Process the text

def preprocess(t):
    # substitutes characters that are not alphaphetic to space
    tee=re.sub('[^a-zA-Z]'," ",t)
    # converts to lowercase
    tee=tee.lower()
    #tokenizes the tweet
    res=tweettoken.tokenize(tee)
    #removes stopwords
    for i in res:
        if i in stopwords.words('english'):
            res.remove(i)
    rest=[]
    # lemmatizes each word in res
    for k in res:
        rest.append(lemmatizer.lemmatize(k))
    # converts the list into string and spaces each element in list
    ret=" ".join(rest)
    
    return ret

In [10]:
train_dataframe['processed_text'] = train_dataframe['text'].map(preprocess)

NameError: name 'train_datframe' is not defined

In [11]:
train_dataframe.head()

,id,keyword,location,text,target,processed_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,deed the reason this earthquake may allah forg...
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,resident asked shelter place being notified of...
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...